/* ========================== CSS RESET ========================= */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ========================== BASE STyle ========================= */

body {
    color: #ffffff;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 0.9375rem;
    line-height: 1.4;
}

.wrapper {
    width: 70rem;
    height: 100%;
    margin: 0 auto;
}

/* ========================== HEADER ========================= */

.page-header {
    height: 4.1875rem;
    background: rgb(0, 0, 0, .8);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.page-header .logo {
    float: left;
    padding-top: 1.4375rem;
    box-sizing: border-box;
}

.page-header .main-nav {
    float: right;
}

.main-nav li {
    float: left;
    margin-left: 5.625rem;
}

.main-nav li a {
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 4.1875rem;
}

.main-nav li a:hover {
    color: red;
}

/* ========================== MAIN ========================= */

/* ========================== BANNER ========================= */

.banner {
    height: 38.25rem;
    background: url(../images/banner.png);
    background-size: cover;
    padding-top: 12.5rem;
}
.banner-block {
    margin-left: auto;
    margin-right: auto;
    font-size: 3.75rem;
    font-weight: bold;
    text-align: center;
}

h1 {
    text-transform: uppercase;
}

.subtitle {
    font-size: 1.3125rem;
    font-weight: 300;
    margin: 1.5625rem 0;
}

.learn-more {
    display: block;
    padding: 1.25rem 1.875rem;
    color: inherit;
    text-transform: uppercase;
    background: #ca0500;
    font-size: 0.875rem;
    text-decoration: none;
    box-sizing: border-box;
    width: 10.375rem;
    margin: 0 auto;
}

.learn-more:hover {
    box-shadow: inset 0 0 3.125rem rgba(0, 0, 0, .5);
    border: .0625rem solid red;
}

/* ========================== ARTICLES ========================= */

.articles {
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(-5deg, #ffffff 0%, #ffffff 50%, #1b1b1b 50%, #1b1b1b 50%, #1b1b1b 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-5deg, #ffffff 0%,#ffffff 50%, #1b1b1b 50%,#1b1b1b 50%,#1b1b1b 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(95deg, #ffffff 0%,#ffffff 50%,#1b1b1b 50%, #1b1b1b 50%, #1b1b1b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.articles>.wrapper::after, .page-footer>.wrapper::after {
    content: '.';
    font-size: 0;
    height: 1px;
    width: 100%;
    display: block;
    clear: both;
}

article {
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding-top: 3.75rem;
}

article:first-of-type {
    padding-right: 4.0625rem;
    color: #000000;
}

article:last-of-type {
    padding-left: 4.0625rem;
}

h2 {
    font-size: 2.25rem;
    font-weight: 300;
}

h2::after {
    content: '.';
    font-size: 0;
    display: block;
    height: 0.125rem;
    width: 2.375rem;
    background: #ca0500;
    margin: 1.5625rem 0 1.75rem;
}

.quote {
    font-size: 1.375rem;
    font-style: italic;
    font-weight: 300;
    margin-bottom: 1.5625rem;
}

.text {
    font-weight: 300;
    margin-bottom: 3.75rem;
}

/* ========================== FOOTER ========================= */

.page-footer {
    background: #111111;
    padding-top: 1.5625rem;
}

.footer-col {
    width: 25%;
    float: left;
}

.page-footer h3 {
    font-size: .8125rem;
    text-transform: uppercase;
}

.page-footer h3::after {
    content: '.';
    font-size: 0;
    width: 90%;
    height: .0625rem;
    background: #292929;
    display: block;
    margin: .9375rem 0;
}

.page-footer li {
    font-size: .8125rem;
    color: #999999;
    line-height: 1.6;
}

.page-footer li:hover {
    color: #ffffff;
    cursor: pointer;
}

.copy {
    color: #585858;
    margin-top: 2rem;
    font-size: .75rem;
}

.social a {
    width: 2.75rem;
    height: 2.75rem;
    display: block;
    border-radius: 50%;
    background: black;
    color: white;
    text-align: center;
    line-height: 2.75rem;
}

.social  a:hover {
    background: #ffffff;
    color: #ff0000;
}

.social li {
    display: inline-block;
}
